<table id="reponse" class="table table-responsive">
    <thead>
    <tr>
        <th>Route</th>
        <th>Chaussée</th>
        <th>PR Début</th>
        <th>Abscisse Début</th>
        <th>Distance Début</th>
        <th>PR Fin</th>
        <th>Abscisse Fin</th>
        <th>Distance Fin</th>
        <th>Moyenne</th>
        <th>V1</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>D0001.1</th>
        <th>Ici</th>
        <th>0</th>
        <th>200</th>
        <th>300</th>
        <th>2</th>
        <th>200</th>
        <th>300</th>
        <th>6.5</th>
        <th>6.5</th>
    </tr>
    <tr>
        <th>D0001.1</th>
        <th>Ici</th>
        <th>2</th>
        <th>400</th>
        <th>700</th>
        <th>5</th>
        <th>400</th>
        <th>700</th>
        <th>4</th>
        <th>4</th>
    </tr>
    <tr>
        <th>D0002</th>
        <th>Ici</th>
        <th>0</th>
        <th>100</th>
        <th>100</th>
        <th>1</th>
        <th>100</th>
        <th>100</th>
        <th>5</th>
        <th>5</th>
    </tr>
    </tbody>
</table>